html, body {
    overflow: scroll;
    padding: 0px;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.abcjs-part { outline: 1px solid; }
.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 85px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex;
    overflow-x: auto;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 70px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 18px;
    color: #444444;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}
#notationBb {margin-bottom: 50px;}
.nav__link:hover {
    background-color: #eeeeee;
}

.nav__link--active {
    color: #009578;
}

.nav__icon {
    font-size: 30px !important;
}

.sectionDivider {
    width:100%;
    background-color: #666;
    color: #fff;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top:15px;
}

.songLinkDiv {
    width:100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #444;
    padding-left: 10px;
}

a {
    color: #444;
    text-decoration: none;
}

h1 {
    color: #444;
}

#moveDown {
    margin-top: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#moveUp {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    display:none;
}

/* The switch - the box around the slider */
.switch {
  float:right;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
