html, body {
    padding: 0px;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 85px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex;
    overflow-x: auto;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 18px;
    color: #444444;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.nav__link:hover {
    background-color: #eeeeee;
}

.nav__link--active {
    color: #009578;
}

.nav__icon {
    font-size: 30px !important;
}

.sectionDivider {
    width:100%;
    background-color: #666;
    color: #fff;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top:15px;
}

.songLinkDiv {
    width:100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #444;
    padding-left: 10px;
}

a {
    color: #444;
    text-decoration: none;
}

h1 {
    color: #444;
}

#moveDown {
    margin-top: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#moveUp {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    display:none;
}
