html, body {
  background: #222;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', 'Arial','Helvetica', 'Verdana', sans-serif;
  font-weight: 400;
  font-display: optional;
  color: #ddd;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
  }




.main {
  padding-top: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
  -webkit-overflow-scrolling: touch; }


 
 button {
   background: rgb(5,155,114);
   color: #fff;
   width: 70px;
   text-align: center;
   height: 30px;
   border-radius: 5px;
   border: 0px;
   font-weight: bold;
 }
 
.tabbar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.tabbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  width: 33%;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.tabbar a:hover {
  color: #ffffff;
}

/* Add a color to the active/current link */
.tabbar a.active {
  color: #ffffff;
}
